* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --bleu: #5c7d97;
    --vert: #9dd2d8;
    --rosePale: #f5ecee;
    --rose: #ffb5cc;
    --violet: #b59bdf;
}


body {
    background-color: aliceblue;
    font-family: 'Poppins', sans-serif;
}

/*------------------------------------------ Mise en place de la navigation ---------------------------------*/
nav {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 5vh;
    background-color: aliceblue;
    box-shadow: 0px 10px 10px 10px rgba(27, 39, 49, .05);
    /*horizontal vertical blur scale couleur */
    border-bottom: 1px solid var(--rose);
    z-index: 1;
}

.logo {
    color: var(--violet);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 1.4em;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 60%;
}

.nav-links li {
    list-style: none;
    margin: 0 15px;
}

.nav-links a {
    color: var(--bleu);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: 600;
    font-size: 1.1em;
    transition: 0.8s ease;

}

.nav-links a:hover {
    background-image: linear-gradient(20deg, rgba(255, 181, 204, .5)10%, rgba(157, 210, 216, .5));
    color: aliceblue;
    text-shadow: 1px 1px 2px rgba(27, 39, 49, 0.5);
    border-radius: 5px;
    padding: 11px;

}

/* Buton hamburger */
.burger {
    display: none;
    cursor: pointer;
}

/* construction du bouton */
.burger div {
    width: 35px;
    height: 5px;
    background-color: var(--rose);
    margin: 5px;
    border-radius: 4px;
    /* transition douce pour l'animation de la transformation burger/croix */
    transition: all 0.3s ease;
}





/* Animation burger */
.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 9px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -9px);
}




/* palette ************************ */
.palette {
    display: none;
    text-align: center;
    font-weight: 600;
    margin-top: 10px;
    padding: 10px;
    top: 10vh;
    position: fixed;
    color: #1b2731;
    background-color: aliceblue;
    border: 2px solid #1b2731;
    border-radius: 10px;
}

.palette div {
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 10px;
    border-radius: 2px;
}

.palette1 {
    background-color: var(--bleu);
}

.palette2 {
    background-color: var(--vert);
}

.palette3 {
    background-color: var(--rosePale);
}

.palette4 {
    background-color: var(--rose);
}

.palette5 {
    background-color: var(--violet);
}


/* Mise en place Main -----------------------------------------------*/

main {
    color: #1b2731;
    margin: 0 auto;
}

main h2 {
    padding: 10px 30px;
    color: aliceblue;
    text-shadow: 1px 1px 2px rgba(27, 39, 49, 0.5);
}


.panel {
    padding-top: 8vh;
    height: 100vh;
    background-color: aliceblue;
    /* margin-bottom: 400px; */
}

/* -------------------------------------------- Home -------------------------------------------- */
#home {
    padding-top: 18vmin;
    text-align: center;
}

.identite {
    margin-left: 30vw;
    padding: 60px 0 30px 0;
    color: var(--bleu);
    font-style: italic;
    line-height: 60px;
    text-shadow: 1px 2px var(--violet);
}

.nom {
    margin-left: 7vw;
    text-transform: uppercase;
    font-size: 9vmin;
    font-weight: 700;

}

.prenom {
    font-size: 7vmin;
    font-weight: 500;
}

.titre {
    margin: 0 10vmin;
}

.titre p {
    text-transform: uppercase;
    line-height: 15vmin;
    font-size: 14vmin;
    font-weight: 800;
    background-color: var(--rosePale);
    background-image: conic-gradient(var(--rose) 20%, var(--vert) 10%, var(--violet) 40%, var(--bleu) 20%, var(--vert) 10%);
    background-size: 37%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline;
    font-family: 'Anton', sans-serif;

}

.accroche {
    font-size: 1.5em;
    color: var(--violet);
    padding: 10px;
}

#home button {
    margin: 60px;
    position: absolute;
    left: 10vw;
    height: 80px;
    width: 400px;
    box-shadow: none;
    border: none;
    background-image: conic-gradient(var(--vert) 30%, var(--rosePale) 10%, var(--rose) 10%);
    border-radius: 40px;
    font-size: 2em;
    color: var(--rosePale);
    cursor: pointer;
    transition: 1s;
    bottom: 4vh;
}

#home button:hover {
    background-image: linear-gradient(150deg, var(--violet) 80%, var(--rosePale) 60%, var(--rose) 20%);
    transform: scale(1.2);

}

/* -------------------------------------------- About Me -------------------------------------------- */
#aboutMe h2 {
    background-image: linear-gradient(45deg, var(--vert), var(--violet));
}

.photoProfil {
    background-color: var(--violet);
    margin: 0 auto;
    width: 500px;
    height: auto;
    border: 4px solid var(--vert);
    border-radius: 50%;
    display: none;

}



#competences h2 {
    background-image: linear-gradient(45deg, var(--violet), var(--bleu))
}

#services h2 {
    background-image: linear-gradient(45deg, var(--bleu), var(--rosePale))
}

#portfolio h2 {
    background-image: linear-gradient(45deg, var(--rosePale), var(--rose))
}





/* CONTACT --------------------------------------- */
#contact {
    background-image: linear-gradient(45deg, var(--rose), var(--vert));
}

#contact h2 {
    background-image: linear-gradient(45deg, var(--rose), var(--vert))
}

.contact-form {
    position: absolute;
    top: 55%;
    left: 50%;
    width: 520px;
    height: 680px;
    padding: 60px;
    transform: translate(-50%, -50%);
    background-color: rgba(92, 125, 151, .1);
    border-radius: 10px;
    box-shadow: 0 5px 22px 0 var(--rosePale);
    backdrop-filter: blur(8px);
    border: 2px solid var(--rosePale);
}

.contact-form h3 {
    color: aliceblue;
    margin-bottom: 25px;
    text-align: center;
    font-size: 1.7em;
    text-shadow: 1px 1px 2px rgba(27, 39, 49, 0.5);
    font-weight: 300;
}

.contact-input,
.contact-message {
    position: relative;
    margin-bottom: 20px;
}

.contact-box label {
    color: aliceblue;
    font-size: 1.2em;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 10px;
    pointer-events: none;
    transition: 0.5s;
}

.contact-box input:focus~label,
.contact-box input:valid~label,
.contact-box textarea:focus~label,
.contact-box textarea:valid~label {
    top: -25px;
    font-size: 1em;
}


.contact-input input,
.contact-message textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    /* border-bottom: 1px solid aliceblue; */
    background-color: rgba(92, 125, 151, .2);
    backdrop-filter: blur(4px);
    font-size: 1.3em;
    color: aliceblue;
}

.contact-buttons div {
    display: inline;
}

.contact-buttons input {
    width: 42%;
    margin: 3.5%;
    padding: 10px 0;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: .8s;
}

.contact-button-reset input {
    background-color: rgba(92, 125, 151, .1);
    border: 3px solid var(--vert);
}

.contact-button-submit input {
    background-color: var(--vert);
}

.contact-buttons input:hover {
    background-color: var(--violet);
    transform: scale(1.2);
}


.ball {
    position: absolute;
    width: 40vmin;
    height: 40vmin;
    border-radius: 50%;
}

.ball-1 {
    background-color: var(--vert);
    top: 25%;
    left: 45%;
}

.ball-2 {
    background-color: var(--violet);
    top: 15%;
    left: 25%;
    transform: scale(.8);
}



/* FOOTER --------------------------------------- */

footer {
    padding-top: 300px;
    height: 100px;
    position: relative;
    background-image: conic-gradient(var(--rose) 20%, var(--vert) 10%, var(--violet) 40%, var(--bleu) 20%, var(--vert) 10%);

    z-index: 10;
    padding-top: 20px;
}

footer p {
    z-index: 11;
    display: inline-block;
    position: absolute;
    /* bottom: 50%; */
    font-size: 2vmin;
    color: aliceblue;
    /* background-color: rgba(27, 39, 49, 0.5); */
    text-align: center;
    margin: 0 100px;
}

/* ----------------------------------------------Responsivité----------------------------------------------- */
@media screen and (max-width:1320px) {
    nav {
        min-height: 8vh;
    }

    .nav-links {
        width: 75%;
    }

    .nav-links a:hover {
        padding: 2vh;
    }

    .identite p {
        font-size: 7vmin;
        /* line-height: 1em; */
    }

    .titre p {
        font-size: 12vmin;
        line-height: 1em;
    }
}




@media screen and (max-width:768px) {
    body {
        overflow-x: hidden;
        /* empêche le scrolling à droite pour cacher le menu */
    }

    .nav-links {
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-image: linear-gradient(150deg, var(--vert) 80%, var(--rosePale) 60%, var(--rose) 20%);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 60%;
        transform: translateX(100%);
        /* cache le menu */
        transition: 0.5s ease-in;
        /* transition d'une demi seconde quand on ouvre et ferme le menu */
    }

    .nav-links li {
        opacity: 0;
    }

    .nav-links a {
        color: aliceblue;
        text-shadow: 1px 1px 2px rgba(27, 39, 49, 0.5);
        font-size: 4vmin;
    }

    .nav-links a:hover {
        background: rgba(0, 0, 0, 0);
        color: var(--bleu);
        font-size: 4.5vmin;
    }

    .burger {
        display: block;
    }

    #home {
        padding-top: 8vh;
    }

    /* .identite {
        padding: 50px 0 30px 0;
    } */

    /* .identite p {
        font-size: 1.8em;
    } */

    /* .titre p {
        font-size: 3.4em;
        margin-bottom: 200px;
    } */

    .accroche {
        font-size: 1em;
    }

    #home button {
        font-size: 1.5em;
        width: 150px;
        height: 50px;

    }

    .photoProfil {
        width: 250px;
    }

}

.nav-active {
    transform: translateX(0%);
    /* fait apparaitre le menu */

}

/* animation des liens du menu */
@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}